h1
{color:brown;
font-family: sans-serif;
}
p
{color:blue;
font-family: fantasy;}

ul{list-style-image:url("Images/pointer-icon.png")}
ol{list-style-type: upper-alpha;}
#menu-bar a{color:green;
    text-decoration:none;font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    background-color: blueviolet;
    background-color: aquamarine;
    padding: 5px;

}

#menu-bar a:hover{
    background-color: lightblue;
    color: #ffffff;
    
}
p{color: black;}
a{color: brown;}